version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "09:00"
    open-pull-requests-limit: 10
    labels:
      - "dependencies"
      - "npm"
    commit-message:
      prefix: "chore(deps)"
    groups:
      development-dependencies:
        patterns:
          - "@types/*"
          - "eslint*"
          - "prettier*"
          - "vitest*"
          - "husky"
          - "lint-staged"
        update-types:
          - "minor"
          - "patch"
      electron-dependencies:
        patterns:
          - "electron*"
        update-types:
          - "minor"
          - "patch"
      all-minor-patch:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
